body {
    text-align: center;
    margin: 5vh 15vw 10vh;
    background-color:aliceblue;
}

.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.scoreBox {
    background-color: white;
    padding: 20px;
}

#score, #highscore {
    font-size: xx-large;
}

button {
    margin: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color:whitesmoke;
}

#startBtn {
    width: 100px;
    height: 60px;
}

button.colour {
    width: 14vw;
    height: 15vw;
    border-width: 8px;
    border-style: solid;
}

#redBtn {
    border-color: red;
}

#greenBtn {
    border-color: green;
}

#yellowBtn {
    border-color: gold;
}

#blueBtn {
    border-color: blue;
}
