body {
    text-align: center;
    margin: 5vh 15vw 10vh;
    background-color:#ffd3f3;
}

.column {
    float: left;
    width: 50%;
}
.row {
    width: 60%;
    margin-left: 20%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.scoreBox {
    background-color: white;
    padding: 20px;
}

#score, #highscore {
    font-size: xx-large;
}

button, .buttons div {
    margin: 20px;
    padding: 5px;
    border-radius: 4px;
    background-color:white;
}

#startBtn {
    width: 100px;
    height: 60px;
}

.buttons .colour {
    float: left;
    width: 12vw;
    height: 15vw;
    border-width: 8px;
    border-style: solid;
    margin-top: 20px;
    transition: width .3s, height .3s, margin-top .3s;

    text-align: center;
}

.buttons .selected {
    height: 16vw !important;
    margin-top: 0px !important;
}

#redBtn {
    border-color: #ff4c4c;
    margin-left: 5vw;
}

#greenBtn {
    border-color: #21eb21;
}

#yellowBtn {
    border-color: #dbdf1a;
}

#blueBtn {
    border-color: #14bcff;
}

.buttons div img {
    width: 5vw;
    height: 5vw;
}